<form id="action" method="POST">
    <label id="prime-label">
        Please enter a position integer (you will not be able to enter anything else but integer numbers):
    </label>
    <input type="number" class="text" name="numberInput" id="number"/>

    <button type="submit" class="button">CHECK</button>
    <ul id="attempts"></ul>
</form>



