<p id="error">{{error}}</p>

<form action="/login" id="login-form" method="POST" class="new-post-form">

  <label for="new-post-line">Please enter username<input id="username" type="text" name="username"
      class="full-width-input" placeholder="Username" />
  </label>

  <label for="new-post-line">Please enter password<input id="password" type="password" name="password"
      class="full-width-input" placeholder="Password" />
  </label>

  <button type="submit">Login</button>
</form>