
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <h1>Prime Checker</h1>
        <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    <main>
        {{{body}}}
    </main>
    <script src="/public/js/isPrime.js"></script>
</body>
<footer>
    <p>NAME: Shuhao Bai</p>
    <p>STUDENT ID: 10437318</p>
    <p>Other Info: I love dumplings:)</p>
</footer>
</html>